@model IList<PointOfInterestViewModel>
@using System.Collections.ObjectModel
@using HoloTour.ViewModels
@{
    @Html.AntiForgeryToken()

 
    <div class="form-horizontal">

        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
        <div class="form-group">

            <div class="container">
                <div id="rowPoi" class="row">
                    <div class="col-md-12">
                        <div id="poisAccordion">

                            @*@Html.EditorFor(model => model.PointsOfInterest)*@

                            @for (int i = 0; i < Model.Count; i++)
                            {

                                PointOfInterestViewModel poi = Model[i];
                                <div>
                                    <h3>@poi.Title</h3>
                                    <div class="row row-eq-height">
                                        <div class="col-md-4">
                                            <img style="max-width:100%;max-height:100%;"
                                                 src="data:image/png;base64,@(Html.Raw(Convert.ToBase64String(poi.ImageBytes)))"
                                                 alt="@poi.Title" />
                                        </div>
                                        <div class="col-md-8">
                                          
                                                @Html.TextAreaFor(model => poi.Guide.Text, new { @class = "fillParent longText" })
                                            @*, new { style = "height: 100%; width: 100%" }*@
                                            @*, new { style = "flex: 1;" }*@
                                        </div>
                                    </div>
                                </div>
                                @*<li class="ui-state-default">@poi.Title</li>*@
                            }

                        </div>
                    </div>



                </div>


            </div>
           
        </div>
    </div>

    @Html.Script(
    @<script type="text/javascript">


            $(document).ready(function () {
                var icons = {
                    header: "ui-icon-circle-arrow-e",
                    activeHeader: "ui-icon-circle-arrow-s"
                };
                var accordion = $('#poisAccordion');
                accordion.accordion({
                    collapsible: true,
                    active: false, //collapse all
                    icons: icons,
                    heightStyle: "content",
                     header: '> div > h3',
                    autoHeight: false
                })
               .sortable({
                    axis: "y",
                    handle: "h3",
                    stop: function (event, ui) {
                        // IE doesn't register the blur when sorting
                        // so trigger focusout handlers to remove .ui-state-focus
                        ui.item.children("h3").triggerHandler("focusout");

                        // Refresh accordion to handle new order
                        $(this).accordion("refresh");
                    }
                });

                $("#toggle").button().on("click", function () {
                    if ($("#accordion").accordion("option", "icons")) {
                        $("#accordion").accordion("option", "icons", null);
                    } else {
                        $("#accordion").accordion("option", "icons", icons);
                    }
                });

                accordion.collapse();

        });


    </script>

    )


}
